<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>eu.exelban.Stats.SMC.Helper</string>
	<key>CFBundleName</key>
	<string>eu.exelban.Stats.SMC.Helper</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.24</string>
	<key>CFBundleVersion</key>
	<string>24</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>SMAuthorizedClients</key>
	<array>
		<string>anchor apple generic and identifier &quot;eu.exelban.Stats&quot; and (certificate leaf[field.1.2.840.113635.100.6.1.9] /* exists */ or certificate 1[field.1.2.840.113635.100.6.2.6] /* exists */ and certificate leaf[field.1.2.840.113635.100.6.1.13] /* exists */ and certificate leaf[subject.OU] = RP2S87B72W)</string>
	</array>
</dict>
</plist>
