<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Name</key>
	<string>Network</string>
	<key>State</key>
	<true/>
	<key>Symbol</key>
	<string>network</string>
	<key>Widgets</key>
	<dict>
		<key>label</key>
		<dict>
			<key>Default</key>
			<false/>
			<key>Order</key>
			<integer>0</integer>
		</dict>
		<key>speed</key>
		<dict>
			<key>Default</key>
			<true/>
			<key>Symbols</key>
			<array>
				<string>U</string>
				<string>D</string>
			</array>
			<key>Order</key>
			<integer>1</integer>
		</dict>
		<key>network_chart</key>
		<dict>
			<key>Default</key>
			<false/>
			<key>Order</key>
			<integer>2</integer>
			<key>Unsupported colors</key>
			<array>
				<string>utilization</string>
				<string>pressure</string>
				<string>system</string>
			</array>
		</dict>
		<key>state</key>
		<dict>
			<key>Default</key>
			<false/>
			<key>Order</key>
			<integer>3</integer>
			<key>Preview</key>
			<dict>
				<key>Value</key>
				<true/>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
