<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Name</key>
	<string>RAM</string>
	<key>State</key>
	<true/>
	<key>Widgets</key>
	<dict>
		<key>label</key>
		<dict>
			<key>Default</key>
			<false/>
			<key>Order</key>
			<integer>0</integer>
		</dict>
		<key>mini</key>
		<dict>
			<key>Default</key>
			<true/>
			<key>Preview</key>
			<dict>
				<key>Value</key>
				<string>0.58</string>
			</dict>
			<key>Order</key>
			<integer>1</integer>
		</dict>
		<key>line_chart</key>
		<dict>
			<key>Default</key>
			<false/>
			<key>Color</key>
			<string>systemAccent</string>
			<key>Order</key>
			<integer>2</integer>
		</dict>
		<key>bar_chart</key>
		<dict>
			<key>Default</key>
			<false/>
			<key>Label</key>
			<true/>
			<key>Box</key>
			<true/>
			<key>Color</key>
			<string>systemAccent</string>
			<key>Preview</key>
			<dict>
				<key>Label</key>
				<true/>
				<key>Box</key>
				<true/>
				<key>Color</key>
				<true/>
				<key>Value</key>
				<string>0.48</string>
			</dict>
			<key>Order</key>
			<integer>3</integer>
		</dict>
		<key>pie_chart</key>
		<dict>
			<key>Default</key>
			<false/>
			<key>Order</key>
			<integer>4</integer>
		</dict>
		<key>memory</key>
		<dict>
			<key>Default</key>
			<false/>
			<key>Preview</key>
			<dict>
				<key>Value</key>
				<string>7.75 GB, 8.25 GB</string>
			</dict>
			<key>Order</key>
			<integer>5</integer>
		</dict>
	</dict>
</dict>
</plist>
