<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Name</key>
	<string>Disk</string>
	<key>State</key>
	<true/>
	<key>Symbol</key>
	<string>opticaldiscdrive</string>
	<key>Widgets</key>
	<dict>
		<key>label</key>
		<dict>
			<key>Default</key>
			<false/>
			<key>Title</key>
			<string>SSD</string>
			<key>Order</key>
			<integer>0</integer>
		</dict>
		<key>mini</key>
		<dict>
			<key>Default</key>
			<true/>
			<key>Title</key>
			<string>SSD</string>
			<key>Preview</key>
			<dict>
				<key>Title</key>
				<string>SSD</string>
				<key>Value</key>
				<string>0.36</string>
			</dict>
			<key>Unsupported colors</key>
			<array>
				<string>pressure</string>
			</array>
			<key>Order</key>
			<integer>1</integer>
		</dict>
		<key>bar_chart</key>
		<dict>
			<key>Default</key>
			<false/>
			<key>Title</key>
			<string>SSD</string>
			<key>Label</key>
			<false/>
			<key>Box</key>
			<true/>
			<key>Color</key>
			<string>systemAccent</string>
			<key>Preview</key>
			<dict>
				<key>Label</key>
				<false/>
				<key>Box</key>
				<true/>
				<key>Value</key>
				<string>0.36</string>
			</dict>
			<key>Unsupported colors</key>
			<array>
				<string>pressure</string>
				<string>cluster</string>
			</array>
			<key>Order</key>
			<integer>2</integer>
		</dict>
		<key>pie_chart</key>
		<dict>
			<key>Default</key>
			<false/>
			<key>Order</key>
			<integer>3</integer>
		</dict>
		<key>memory</key>
		<dict>
			<key>Default</key>
			<false/>
			<key>Preview</key>
			<dict>
				<key>Value</key>
				<string>47.85 GB, 184.84 GB</string>
			</dict>
			<key>Order</key>
			<integer>4</integer>
		</dict>
		<key>speed</key>
		<dict>
			<key>Default</key>
			<false/>
			<key>Icon</key>
			<string>chars</string>
			<key>Symbols</key>
			<dict>
				<key>Output</key>
				<string>W</string>
				<key>Input</key>
				<string>R</string>
			</dict>
			<key>Words</key>
			<dict>
				<key>Output</key>
				<string>Write speed</string>
				<key>Input</key>
				<string>Read speed</string>
			</dict>
			<key>Order</key>
			<integer>5</integer>
		</dict>
		<key>network_chart</key>
		<dict>
			<key>Default</key>
			<false/>
			<key>Title</key>
			<string>SSD</string>
			<key>Order</key>
			<integer>6</integer>
			<key>Unsupported colors</key>
			<array>
				<string>utilization</string>
				<string>pressure</string>
				<string>system</string>
			</array>
		</dict>
		<key>text</key>
		<dict>
			<key>Default</key>
			<false/>
			<key>Order</key>
			<integer>7</integer>
		</dict>
	</dict>
	<key>Settings</key>
	<dict>
		<key>popup</key>
		<true/>
		<key>notifications</key>
		<true/>
	</dict>
</dict>
</plist>
