<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Name</key>
	<string>Bluetooth</string>
	<key>State</key>
	<false/>
	<key>Symbol</key>
	<string>point.3.filled.connected.trianglepath.dotted</string>
	<key>AlternativeSymbol</key>
	<string>scale.3d</string>
	<key>Widgets</key>
	<dict>
		<key>label</key>
		<dict>
			<key>Default</key>
			<false/>
			<key>Title</key>
			<string>BLE</string>
			<key>Order</key>
			<integer>0</integer>
		</dict>
		<key>sensors</key>
		<dict>
			<key>Default</key>
			<true/>
			<key>Preview</key>
			<dict>
				<key>Values</key>
				<string>98%</string>
			</dict>
			<key>Order</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>Settings</key>
	<dict>
		<key>popup</key>
		<false/>
		<key>notifications</key>
		<true/>
	</dict>
</dict>
</plist>
