name: Tests and checks

on: [push, pull_request]

jobs:
  i18n:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
      - run: python3 Kit/scripts/i18n.py
