<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Name</key>
	<string>Network</string>
	<key>State</key>
	<false/>
	<key>Widgets</key>
	<dict>
		<key>network</key>
		<dict>
			<key>Default</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
